.books {
  margin-top: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

.count {
  text-align: center;
}

.header-image {
  background-size: cover;
}



.series {
  margin-top: 10px;
}

.book {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "img img"
    "link title"
    "link text"
    "divider divider";

  img {
    grid-area: img;
    width: 100%;
    max-width: 300px;
    margin-bottom: 5px;
  }

  .title {
    grid-area: title;
    font-weight: bold;
    font-size: 1.2em;
  }

  .text {
    grid-area: text;
  }

  a {
    margin-right: 7px;
    grid-area: link;
    align-self: center;
  }

  .divider {
    grid-area: divider;
    height: 2px;
    background: #eee;
    margin: 10px 3px;
  }
}

.mat-form-field {
  margin-right: 3px;
}

.mat-card {
  margin-top: 10px;
}


.mat-card-avatar,
.mat-list-base .mat-list-item .mat-list-avatar {
  width: 80px;
  height: 80px;
  border-radius: 3px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0;
}

.mat-list-item {
  margin-top: 15px;
}

.mat-card-content {
  margin-top: 10px;
}
