<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <div *ngIf="updateNotification.complete">
    <a [routerLink]="" (click)="refreshData()">Refresh</a>
  </div>
  <div *ngIf="!updateNotification.complete">
    <mat-progress-bar mode="determinate" [value]="updateNotification.percent"></mat-progress-bar>
    <div>
      {{updateNotification.filesComplete}} out of {{updateNotification.count}}
    </div>
  </div>

  <form [formGroup]="form" novalidate>
    <table class="table">
      <thead>
        <tr>
          <th>
            <input type="checkbox" [checked]="allSelected" />
          </th>
          <th></th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Author" formControlName="author" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Title" formControlName="title" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Album" formControlName="album" />
            </mat-form-field>
          </th>
          <th>Disc</th>
          <th>Track</th>
          <th></th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let audiobook of filteredAudiobooks">
          <td></td>
          <td>
            <img [src]="audiobook.image" *ngIf="audiobook.image" />
          </td>
          <td><a [routerLink]="" (click)="filterBy('author', audiobook.author)">{{audiobook.author}}</a></td>
          <td><a [routerLink]="" (click)="filterBy('title', audiobook.title)">{{audiobook.title}}</a></td>
          <td><a [routerLink]="" (click)="filterBy('album', audiobook.album)">{{audiobook.album}}</a></td>
          <td>{{audiobook.disc}}</td>
          <td>{{audiobook.track}}</td>
          <td>{{audiobook.filename}}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
