.books{
    img{
        width:100%;
    }
    >div{
        display:grid;
        grid-template-columns: 75px 1fr;
        grid-gap: 5px;
        >div:last-child{
            grid-column: span 2;
        }
    }
}